<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Control de medicación</title>

    <div th:include="fragment/header :: head"/>
</head>
<body>

<!-- Menu de navegacion -->
<div th:replace="fragment/nav_doctor :: nav"/>

<div class="container">
    <div class="row">
        <div class="col-lg-10 mt-5 mb-5">

            <h3>Datos Principales del paciente</h3>

            <form action="/save_form_nuevo_medicamento" method="post">
                <div class="mb-3">
                    <label for="nombreInput" class="form-label">Nombre del medicamento.</label>
                    <input type="text" class="form-control" name="nombreInput" id="nombreInput" aria-describedby="nombreHelp">
                    <div id="nombreHelp" class="form-text">Nombre del medicamento.</div>
                </div>
                <div class="mb-3">
                    <label for="pcInput" class="form-label">PC del medicamento.</label>
                    <input type="text" class="form-control" name="pcInput" id="pcInput" aria-describedby="pcHelp">
                    <div id="pcHelp" class="form-text">PC del medicamento.</div>
                </div>
                <div class="mb-3">
                    <label for="consideracionesInput" class="form-label">Consideraciones.</label>
                    <input type="text" class="form-control" name="consideracionesInput" id="consideracionesInput"
                           aria-describedby="consideracionesHelp">
                    <div id="consideracionesHelp" class="form-text">Consideraciones</div>
                </div>

                <button type="submit" class="btn btn-primary">Guardar</button>
            </form>

        </div>
    </div>
</div>

<div th:include="fragment/footer :: footer"/>

</body>
</html>